@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}


body{
  /*background: linear-gradient(to right, #eae7ef, #eae7ef, #eae7ef);*/
}

:root{
  --primary: #f52153;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}

.App{
 display: flex;
 min-height: 100vh;
 align-items: center;
 justify-content: center;
 background-color: #D9DCD6;
 /*background: rgb(245,205,222);
 background: radial-gradient(circle, rgba(245,205,222,1) 0%, rgba(51,75,103,0.09567577030812324) 100%);*/
}

.titulo{
  margin-bottom: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  color: var(--dark);
}

.calcu{
  width: 100%;
  max-width: 400px;
}

.display{
  padding: 16px;
  text-align: right;
  background-color: rgb(242, 239, 248);
  color: #060507;
  font-size: 24px;
  font-weight: 300;
  border-radius: 16px;
  margin-bottom: 5px;
  overflow: hidden;
  word-wrap: break-word;
}

.display span{
  font-size: 13px;
  color: #888;
}

.display .resultado-actual{
  font-size: 2rem;
}

button{
  appearance: none;
  border: none;
  color: #FFF;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  /*transition: 0.4s;*/
}

 button:hover{
   opacity: 0.9;
   font-style: var(--primary);
   color: var(--secondary);
 }


 .operadores {
   display: flex;
 }


 .operadores button{
   flex: 1 1 0%;
   background-color:var(--primary);
   color: var(--light);
   font-weight: 500;
   margin-bottom: 5px;
   border-radius: 16px;
   margin-left: 2px;
 }

 .digitos{
   display: flex;
   flex-wrap: wrap;
 }



 .digitos button{
   flex: 1 1 33.33%;
   max-width: 33.33%;
   background-color: var(--dark);
   border-radius: 1rem;
   margin-top: 2px;
  }

  .digitos-aux{
    display: flex;
    margin-top: 4px;

  }

  .digitos-aux button{
   flex: 1 1 0%;
   background-color:var(--dark);
   color: var(--light);
   font-weight: 500;
   margin-bottom: 5px;
   border-radius: 16px;
   margin-left: 2px;
  }

  .digitos-aux > #boton-color{
    background-color: var(--primary);
  }


.fun-avanzadas{
  width: 50%;
  max-width: 200px;
  margin-left: 3rem;
}

